* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #eaeaea;
  color: #333;
}

.header {
  display: flex;
  align-items: center;
  padding: 16px 24px 16px 30px;
  background-color: #eaeaea;
  border-bottom: 1px solid #97a8be;
}

.logo {
  height: 200px;
  margin-top: -60px;
  margin-bottom: -70px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

.info {
  color: #5578ac;
  max-width: 400px;
}

.info h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.info p {
  font-size: 30px;
  line-height: 1.6;
}

.login-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px 40px;
  width: 450px;
  height: 430px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-card h3 {
  text-align: center;
  color: #6d98da;
  margin-bottom: 20px;
  font-size: 35px;
}

.login-card label {
  font-size: 14px;
  margin-top: 10px;
  color: #333;
}

.login-card input {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.forgot {
  margin-top: 8px;
  font-size: 12px;
  color: #6d98da;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.login-btn {
  text-align: center;
  text-decoration: none;
  width: 70%;
  align-self: center;
  margin-top: 30px;
  background-color: #6d98da;
  color: white;
  border: 2px solid #6499fa;
  border-radius: 20px;
  padding: 8px 0;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.login-btn:hover {
  background-color: #5193f5;
}


.error{
    color: crimson;
    font-size: 12px;
}
.ilustracion img {
  width: 250px;
  margin: -20px 0 0 0;
}
.login-container{
    min-height: 80svh;
}


@media (max-width: 700px) {
  .container {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .info {
    max-width: 90%;
  }

  .info h2 {
    font-size: 40px;
  }

  .info p {
    font-size: 25px;
  }

  .login-card {
    margin-top: 20px;
    width: 100%;
    max-width: 330px;
  }
  .login-card label {
    text-align: left;
  }
}