/* ---------------- TARJETAS DE MATERIAS ---------------- */

.grid-materias {
    margin-top: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 350px);
    gap: 40px;
}

.tarjeta {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    border: solid 1px #7a7a7a;
}

.tarjeta-cabecera {
    height: 140px;
    padding: 15px;
    position: relative;
}

.img-materia {
    width: 110px;
    position: absolute;
    top: 10px;
    right: 10px;
}

h3 {
    font-size: 25px;
    margin-top: 8px;
}

.color-verde {
    background: #b8f46e;
}

.color-rojo {
    background: #e87060;
}

.color-violeta {
    background: #d3b0ff;
}

.color-azul {
    background: #7eb8ff;
}

.tarjeta-pie {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.tarjeta-pie img {
    width: 22px;
    cursor: pointer;
}

/* ---------------- PAGINACIÓN ---------------- */

.paginacion {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.punto {
    width: 10px;
    height: 10px;
    background: #c8c8c8;
    border-radius: 50%;
}

.punto.activo {
    background: #7a7a7a;
}

/* BOTÓN SIGUIENTE */
.boton-siguiente {
    position: fixed;
    right: 20px;
    top: 55%;
    background: #e3e8ef;
    border: none;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
}

.boton-siguiente img {
    width: 20px;
}

/* ---------------- RESPONSIVE ---------------- */

@media (max-width: 1024px) {
    .grid-materias {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {

    .grid-materias {
        grid-template-columns: 1fr;
    }

    .boton-siguiente {
        display: none;
    }

    .flecha {
        display: none;
    }
}

@media (max-width: 480px) {
    .tarjeta-cabecera {
        height: 130px;
    }

    .img-materia {
        width: 90px;
    }
}