.contenido-materia {
    padding-top: calc(var(--header-height) + 20px);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.header-materia{
    background-image: url("../img/imagen-fondo-materia-biologia.png"); 
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat; 
    padding: 40px;
    padding-left: 30px;
    border-radius: 15px;
    
}

.nombre-materia{
    font-size: 45px;
    font-weight: 500;
}

.info-materia{
    font-size: 19px;
    font-weight: 400;
}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    border-bottom: 1px solid #a0a0a0;
    margin-top: 10px;
}
.tab {
padding: 10px;
color:#4b4b4b;
cursor: pointer;
border: none;
font-weight: 400;
font-size: larger;
background-color: #f2f4f7;
}


.tab.active {
color: #2a5bd7;
border-bottom: 3px solid #2a5bd7;
font-weight: 500;
}

.lista-actividades{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.actividad-card {
background: white;
border-radius: 8px;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
padding: 20px;
margin-bottom: 15px;
display: flex;
justify-content: space-between;
align-items: center;
border: 1px solid transparent; 
}


.actividad-info {
display: flex;
align-items: center;
gap: 12px;
font-size: 20px;
font-weight: 370;
}

.actividad-card:hover{
    border: 1px solid #c1daff;
}

.icono-actividad {
width: 40px;
height: 40px;
padding: 7px;
background-color: #cecece;
border-radius: 40px;
}

.actividad-card:hover .icono-actividad {
    background-color: #c1daff;
}

.btn-realizar {
padding: 10px 20px;
background-color: #dae1ff;
border-radius: 20px;
border: 1px solid #5b6ad0;
font-size: 15px;
font-weight: 500;
cursor: pointer;
}

.btn-realizar:hover{
font-weight: 600;
background-color: #b2c0fa;
 transform: scale(1.03); 
}


.estado-actividad {
font-weight: bold;
color: #1e8e3e;
display: flex;
align-items: center;
gap: 8px;
}


.estado-actividad.tarde {
color: #0057c1;
}