body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f4f7fb;
    display: flex;
}
.sidebar {
    width: 240px;
    height: 100vh;
    background: #eaf1ff;
    border-right: 1px solid #d5e2ff;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
}

.sidebar .logo img {
    width: 110px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 12px 10px;
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    border-radius: 8px;
}

.menu li img {
    width: 24px;
}


.ajustes {
    margin-top: auto;
    padding: 12px 10px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.ajustes img {
    width: 20px; 
}


.topbar {
    height: 65px;
    background: white;
    border-bottom: 1px solid #dedede;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.topbar .perfil img {
    width: 45px;
    border-radius: 50%;
}

.contenido {
    flex: 1;
    padding: 30px 50px;
}

.tema-titulo {
    font-size: 26px;
    color: #2563eb;
    margin: 0 0 10px;
}

.tema-descripcion {
    font-size: 16px;
    color: #444;
    margin-bottom: 20px;
}

.mensaje, .respuesta {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-top: 25px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    border-left: 5px solid #60a5fa;
}

.mensaje-autor {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.mensaje-autor img {
    width: 35px;
    border-radius: 50%;
}

.mensaje-contenido {
    margin-top: 10px;
    color: #333;
    font-size: 16px;
}

.mensaje-fecha {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    color: #777;
}


@media (max-width: 768px) {


    .sidebar {
        display: none !important;
    }

  
    .content {
        margin-left: 0 !important;
        width: 100% !important;
    }


    header {
        margin-left: 0 !important;
        width: 100% !important;
    }
}