.contenido-materia {
    padding-top: calc(var(--header-height) + 1.25rem);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
}

.header-materia {
    background-image: url("../img/imagen-fondo-materia-biologia.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 2.5rem;
    padding-left: 1.875rem;
    border-radius: 15px; 
}

.nombre-materia {
    font-size: 2.8125rem; 
    font-weight: 500;
}

.info-materia {
    font-size: 1.1875rem; 
    font-weight: 400;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 3.125rem; 
    border-bottom: 1px solid #a0a0a0;
    margin-top: 0.625rem;
}

.tab {
    padding: 0.625rem; 
    font-size: 1.125rem; 
    background-color: #f2f4f7;
    cursor: pointer;
    border: none;
    color: #4b4b4b;
    font-weight: 400;
}

.tab.active {
    color: #2a5bd7;
    border-bottom: 3px solid #2a5bd7;
    font-weight: 500;
}

.lista-actividades {
    margin-top: 1.25rem; 
    display: flex;
    flex-direction: column;
    gap: 0.625rem; 
}

.actividad-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem; 
    margin-bottom: 0.9375rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
}

.actividad-card:hover {
    border: 1px solid #c1daff;
}

.actividad-info {
    display: flex;
    align-items: center;
    gap: 0.75rem; 
    font-size: 1.25rem; 
    font-weight: 370;
}

.icono-actividad {
    width: 2.5rem; 
    height: 2.5rem;
    padding: 0.4375rem; 
    background-color: #cecece;
    border-radius: 40px;
}

.actividad-card:hover .icono-actividad {
    background-color: #c1daff;
}


.btn-realizar {
    padding: 0.625rem 1.25rem; 
    background-color: #dae1ff;
    border-radius: 20px;
    border: 1px solid #5b6ad0;
    font-size: 0.9375rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-realizar:hover {
    font-weight: 600;
    background-color: #b2c0fa;
    transform: scale(1.03);
}

.estado-actividad {
    font-weight: bold;
    color: #1e8e3e;
    display: flex;
    align-items: center;
    gap: 0.5rem; /* 8px */
}

.estado-actividad.tarde {
    color: #0057c1;
}

@media (max-width: 992px) {

    .contenido-materia {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .nombre-materia {
        font-size: 2.2rem;
    }

    .actividad-card {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }

    .btn-realizar {
        align-self: flex-end;
    }

    .estado-actividad{
        align-self: flex-end;
    }
}

@media (max-width: 600px) {
    .header-materia {
        padding: 1.5rem;
    }

    .tabs {
        gap: 1rem;
        font-size: 0.9rem;
    }

    .actividad-info {
        font-size: 1rem;
    }

    .icono-actividad {
        width: 2rem;
        height: 2rem;
    }

    .btn-realizar {
        width: 100%;
        text-align: center;
    }

    .estado-actividad{
        align-self: center;
    }
}
