<div id="modalCanje" class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">CANJE</h3>
        <span class="modal-puntos-actuales">
        </span>
      </div>
  
      <div class="contenedor-detalle">
        <h4 class="modal-item-titulo">Trabajo práctico n° 5:</h4>
        <p class="item-subtitulo">Ejercicio 2</p>
      </div>
      
  
      <p class="modal-precio">
        Valor: <span class="modal-precio-valor">
            <img src="../img/estrella-costo.png" class="estrella-icon"></img> 20
        </span>
      </p>
  
  
      <div class="modal-actions">
        <button id="btnVolver" class="modal-btn modal-btn-secondary">Volver</button>
        <button id="btnConfirmarCanje" class="modal-btn modal-btn-primary">Sí, canjear</button>
      </div>
    </div>
</div>