<ul class="lista-menu">
  <li>
    <a href="#" class="item-menu activo">
      <img src="../img/home.png" alt="Inicio" />
      <span>Inicio</span>
    </a>
  </li>

  <li>
    <a href="#" class="item-menu">
      <img src="../img/calendario.png" alt="Calendario" />
      <span>Calendario</span>
    </a>
  </li>

  <li>
    <a href="#" class="item-menu">
      <img src="../img/asignatura.png" alt="Asignaturas" />
      <span>Asignaturas</span>
      <img class="flecha" src="../img/desplegable.png" alt="" />
    </a>
  </li>

  <li>
    <a href="#" class="item-menu">
      <img src="../img/estrella.png" alt="Puntos" />
      <span>Tienda de puntos</span>
    </a>
  </li>
</ul>

<div class="ajustes">
  <img src="../img/ajustes.png" alt="Ajustes" />
  <span>Ajustes</span>
</div>
