<ul class="lista-menu">
  <li>
    <a id="home" href="./home.html" class="item-menu activo">
      <img src="../img/home.png" alt="Inicio" />
      <span>Inicio</span>
    </a>
  </li>

  <li>
    <a id="calendario" href="./calendario.html" class="item-menu">
      <img src="../img/calendario.png" alt="Calendario" />
      <span>Calendario</span>
    </a>
  </li>

  <li>
    <a id="asignatura" href="./materia.html" class="item-menu">
      <img src="../img/asignatura.png" alt="Materias" />
      <span>Materias</span>

    </a>
  </li>

  <li>
    <a id="tienda" href="./tienda-puntos.html" class="item-menu">
      <img src="../img/estrella.png" alt="Puntos" />
      <span>Tienda de puntos</span>
    </a>
  </li>
</ul>

<div class="ajustes">
  <img src="../img/ajustes.png" alt="Ajustes" />
  <span>Ajustes</span>
</div>
