<ul class="lista-menu">
  
  <li>
    <a href="/EduClass-1/EduClass/html/home.html" class="item-menu">
      <img src="../img/home.png" alt="Inicio" />
      <span>Home</span>
    </a>
  </li>

  <li>
    <a href="#" class="item-menu">
      <img src="../img/calendario.png" alt="Calendario" />
      <span>Calendario</span>
    </a>
  </li>

  <li class="submenu">
    <a class="item-menu desplegable">
      <img src="../img/asignatura.png" alt="Asignaturas" />
      <span>Asignaturas</span>
      <img class="flecha" src="../img/desplegable.png" alt="" />
    </a>

    <ul class="submenu-contenido abierto">

      <li>
        <a href="#" class="materia-activa">BIOLOGÍA</a>
      </li>

      <li><a href="#" class="submenu-item activo">Actividades</a></li>
      <li><a href="#" class="submenu-item">Evaluaciones</a></li>
      <li><a href="/EduClass-1/EduClass/html/materia-mensajeria.html" class="submenu-item">Mensajería</a></li>
      <li><a href="#" class="submenu-item">Foro</a></li>
    </ul>
  </li>

  <li>
    <a href="#" class="item-menu">
      <img src="../img/estrella.png" alt="Puntos" />
      <span>Tienda de puntos</span>
    </a>
  </li>

</ul>

<div class="ajustes">
  <img src="../img/ajustes.png" alt="Ajustes" />
  <span>Ajustes</span>
</div>
