/* ---------------- TARJETAS DE MATERIAS ---------------- */

.grid-materias {
    margin-top: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.titulo-bienvenida{
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
}

.tarjeta {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    border: solid 1px #7a7a7a;
}

.tarjeta-cabecera {
    height: 140px;
    padding: 15px;
    position: relative;
}

.img-materia {
    width: 100px;
    position: absolute;
    top: 15px;
    right: 10px;
}

h3 {
    font-size: 25px;
    margin-top: 8px;
    cursor: pointer;
}

.color-verde {
    background: #b8f46e;
}

.color-rojo {
    background: #e87060;
}

.color-violeta {
    background: #d3b0ff;
}

.color-azul {
    background: #7eb8ff;
}
.color-naranja { 
    background: rgb(255, 160, 82);
}
.color-amarillo { 
    background: rgb(252, 255, 100);
}

.tarjeta-pie {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.tarjeta-pie img {
    width: 22px;
    cursor: pointer;
}

/* ---------------- RESPONSIVE ---------------- */


@media (max-width: 1024px) {
    .grid-materias {
        grid-template-columns: repeat(2, 1fr);
        
    }
}

@media (max-width: 768px) {

    .grid-materias {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 480px) {
    .tarjeta-cabecera {
        height: 130px;
    }

    .img-materia {
        width: 90px;
    }
}